[Unit]
Description=Automatically refresh the fangfrisch signatures
Documentation=man:fangfrisch(1)
ConditionPathExists=/var/lib/fangfrisch/db.sqlite

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
RandomizedDelaySec=2m

[Install]
WantedBy=timers.target
